body{
	--e-global-color-primary					: #3A1916;
	--e-global-color-secondary					: #FCF5E8;
	--e-global-color-text						: #666666;
	--e-global-color-accent						: #E25E52;
	--e-global-color-accentsecondary			: transparent;
	--e-global-color-white						: #FFFFFF;
	--e-global-color-black						: #000000;
	--e-global-color-divider					: #3A19161A;
	--e-global-color-darkdivider				: #FFFDF91A;
	--e-global-color-background             	: #FFFDF9;
	--e-global-typography-primary-font-family	: "Bricolage Grotesque", sans-serif;
	--e-global-typography-secondary-font-family	: "Bricolage Grotesque", sans-serif;
	--e-global-typography-text-font-family		: "Bricolage Grotesque", sans-serif;
	--e-global-typography-accent-font-family    : "Bricolage Grotesque", sans-serif;
}